*{
    box-sizing:border-box;
}   

:root {
    --buttonColor: #596D48;
    --inputBorder:#E5E7EB;
    --focusBorder:rgb(21, 139, 250);
    --leftMargin:40px;
}

body{
    display:flex;
    flex-direction:row;
    margin: 0;
    padding: 0;
}

#leftSide {
    background-image: url(./images/hidayat-abisena--A2IuOZnmHs-unsplash.jpg);
    background-size:cover;
    height: 100vh;
    width: 40vw;
    display:flex;
    flex-direction:column;
    position:relative;
    flex-shrink:1;
    flex-grow:1;
    justify-content: flex-start;
    position:relative;
}

#titleBox{
    background-color: rgba(0, 0, 0, 0.6);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:20vh;
    height: 130px;
}

#title{
    font-size: 70px;
}


#rightSide {
    height: 100vh;
    width: 60vw;
    flex-shrink:1;
    flex-grow:1;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(239, 236, 236);
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}

#leftSide #photoCredit {
align-self:center;
justify-items:flex-end;
position:absolute;
bottom: 0;
color:white;
}

#odinFace{
height:min(80px, 40vh);
}

#title{
    font-family: 'Norse';
    color:white;
    display:inline;
    position:relative;
    top:8px;
    left:3px;
}

#upperText{
    padding: 80px 60px 20px var(--leftMargin);
    font-weight: 500;

    font-size: 22px;
}

#formBody{
    background-color: white;
    padding: 10px 60px 10px var(--leftMargin);
    box-shadow:0px 5px 5px rgba(0, 0, 0, 0.118);
}

#submitButton{
    background-color:var(--buttonColor);
    color:white;
    border-radius: 5px;
    font-size:16px;
    padding:2.5% 10%;
    margin:30px var(--leftMargin);
}

#loginPrompt{
    margin: 0px 0px 0px var(--leftMargin);
}

#entrySection{
    display:flex;
    flex-wrap:wrap;
}

.formEntry{
    display:flex;
    flex-direction:column;
    margin-right:5%;
    margin-bottom:2%;
    flex-grow:1;
    position:relative;
    width:200px;
}


#entrySection label{
    font-size: 12px;
}

#entrySection input{
    border: 2px solid;
    border-color: var(--inputBorder);
    border-radius: 5px;
    
}

#entrySection input:focus{
    border-color: var(--focusBorder);
}

#entrySection .error {
    border-color:rgb(251, 49, 49);
}

a {
    text-decoration: none;
    color:var(--buttonColor)
}