body{
    display:flex;
    flex-direction:row;
    margin:0%;

}

#leftSide {
    background-image: url(./images/hidayat-abisena--A2IuOZnmHs-unsplash.jpg);
    background-size:cover;
    height: 100vh;
    width: 40vh;
    display:flex;
    flex-direction:column;
    position:relative;
    flex-shrink:1;
    flex-grow:1;
    justify-content: center;
    
}

#titleBox{
    background-color: rgba(0, 0, 0, 0.6);
    display:flex;
    justify-content: center;
    align-items: center;
}

#title{
    font-size: 50px;
    /* font-size: min(50px, 40vh); */
}


#rightSide {
    height: 100vh;
    width: 60vw;
    flex-shrink:1;
    flex-grow:1;
}

#leftSide #photoCredit {
align-self:center;
justify-items:flex-end;
position:absolute;
bottom: 0;
color:white;
}

#odinFace{
height:min(60px, 40vh);
/* max-width: 10vh; */
}

#title{
    font-family: 'Norse';
    color:white;
    display:inline;
    position:relative;
    top:8px;
    left:3px;
}