*{
    box-sizing:border-box;
}   

:root {
    --buttonColor: #596D48;
    --inputBorder:#E5E7EB;
    --focusBorder:rgb(21, 139, 250);

}

body{
    display:flex;
    flex-direction:row;
    margin: 0;
    padding: 0;

}

#leftSide {
    background-image: url(./images/hidayat-abisena--A2IuOZnmHs-unsplash.jpg);
    background-size:cover;
    height: 100vh;
    width: 40vh;
    display:flex;
    flex-direction:column;
    position:relative;
    flex-shrink:1;
    flex-grow:1;
    justify-content: flex-start;
    position:relative;
}

#titleBox{
    background-color: rgba(0, 0, 0, 0.6);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:20vh;
}

#title{
    font-size: 50px;
    /* font-size: min(50px, 40vh); */
}

#upperText{
    font-size: 22px;
    margin:2rem 0rem;

}

#rightSide {
    height: 100vh;
    width: 60vw;
    flex-shrink:1;
    flex-grow:1;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(228, 227, 227);
    display:flex;
    flex-direction:column;
    justify-content:flex-start;

}

#leftSide #photoCredit {
align-self:center;
justify-items:flex-end;
position:absolute;
bottom: 0;
color:white;
}

#odinFace{
height:min(60px, 40vh);
/* max-width: 10vh; */
}

#title{
    font-family: 'Norse';
    color:white;
    display:inline;
    position:relative;
    top:8px;
    left:3px;
}
#upperText{
    padding: 50px 40px 0px 20px;
    font-weight: 400;

}
#formBody{
    background-color: white;
    padding: 10px 40px 10px 20px;
    box-shadow:0px 5px 5px rgba(0, 0, 0, 0.118);
}

#submitButton{
    background-color:var(--buttonColor);
    color:white;
    border-radius: 5px;
    font-size:16px;
    padding:2.5% 10%;

    margin:30px 30px;
}

#loginPrompt{
    margin: 0px 0px 0px 30px;
}

#entrySection{
    display:flex;
    flex-wrap:wrap;
}

.formEntry{
    display:flex;
    flex-direction:column;
    margin-right:5%;
    margin-bottom:2%;
    flex-grow:1;
    position:relative;
    width:200px;
}


#entrySection label{
    font-size: 12px;
}

#entrySection input{
    border-color: var(--inputBorder);
    border-radius: 5px;
    
}

#entrySection input:focus{
    border-color: var(--focusBorder);
    background-color:rgb(254, 204, 254);
}

a {
    text-decoration: none;
    color:var(--buttonColor)
}